/* app.css */

body {
  overflow-y: scroll;
}

/* logo */

[data-bs-theme="dark"] .art-logo g,
[data-bs-theme="dark"] .art-logo path {
  fill: #ffffff !important;
}

/* sidebar */

#sidebar .nav-link:not(.active),
.dropdown-item:not(.active) {
  color: var(--bs-body-color);
}

#sidebar .nav-link:not(.active):hover,
.dropdown-item:not(.active):hover {
  color: var(--bs-emphasis-color);
  background-color: var(--bs-secondary-bg);
}

[data-bs-theme="dark"] #sidebar .nav-link.active,
[data-bs-theme="dark"] .dropdown-item.active {
  background-color: var(--bs-light) !important;
  color: var(--bs-dark) !important;
}

/* input date */

input[type="date"]::-webkit-calendar-picker-indicator,
input[type="week"]::-webkit-calendar-picker-indicator {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: transparent;
  color: transparent;
  width: auto;
  height: auto;
}

/* form-floating */

.form-floating > label,
.form-floating > input:focus {
  z-index: 3 !important;
}

/* input number cosmetics */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

/* progress bar */

.progress-bar-custom {
  height: 4px;
  display: block;
  width: 100%;
  overflow: hidden;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.1);
}

.progress-bar-custom .indeterminate {
  border-radius: 4px;
}

.progress-bar-custom .indeterminate:before {
  content: "";
  position: absolute;
  background-color: inherit;
  top: 0;
  left: 0;
  bottom: 0;
  will-change: left, right;
  animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
  border-radius: 4px;
}

.progress-bar-custom .indeterminate:after {
  content: "";
  position: absolute;
  background-color: inherit;
  top: 0;
  left: 0;
  bottom: 0;
  will-change: left, right;
  animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
  animation-delay: 1.15s;
  border-radius: 4px;
}

.progress-bar-custom .determinate {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  transition: width 100ms linear;
  border-radius: 4px;
}

@keyframes indeterminate {
  0% {
    left: -35%;
    right: 100%;
  }
  60% {
    left: 100%;
    right: -90%;
  }
  100% {
    left: 100%;
    right: -90%;
  }
}

@keyframes indeterminate-short {
  0% {
    left: -200%;
    right: 100%;
  }
  60% {
    left: 107%;
    right: -8%;
  }
  100% {
    left: 107%;
    right: -8%;
  }
}

/* list transitions */

.list-move, /* apply transition to moving elements */
.list-enter-active,
.list-leave-active {
  transition: all 0.1s ease;
}

.list-enter-from,
.list-leave-to {
  opacity: 0;
}

/* ensure leaving items are taken out of layout flow so that moving
   animations can be calculated correctly. */
.list-leave-active {
  position: absolute;
}

/* cloak */
[v-cloak] {
  display: none;
}

/* modal */

.modal,
.modal-content {
  transition: all 0.2s ease;
}

.modal-enter-from,
.modal-leave-to {
  opacity: 0;
}

.modal-enter-from .modal-content,
.modal-leave-to .modal-content {
  transform: scale(1.1);
}
